.container{
    display: flex;
    gap: 50px;
    margin-top: 20px;
}
.user{
    flex: 1;
    padding: 20px;
    background-color: var(--bgSoft);
    border-radius: 10px;
    height: max-content;
    color: var(--textSoft);

}

.info{
    flex: 3;
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
}
.form{
    display: flex;
    flex-direction: column;
}
.form input,.form textarea,.form select{
    padding: 10px;
    background-color: transparent;
    color: var(--text);
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid gray;
}

.form input ,.form select{
    width: 100%;
}

.form textarea{
    width: 100%;
}
.form option{
    background-color: var(--bgSoft);
}
.form label{
    font-size: 12px;
}

